@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Kalam:700');

@font-face {
  font-family: Equinor;
  src: url(/static/fonts/Equinor-Medium.woff2) format('woff2');
  font-weight: bold;
}

@font-face {
  font-family: Equinor;
  font-style: italic;
  font-weight: bold;
  src: url(/static/fonts/Equinor-MediumItalic.woff2) format('woff2');
}

:root {
  --base-font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  --heading-font-family: Equinor, Arial, sans-serif;
  --color-background: hsl(206, 11%, 93%);
  --color-text: hsl(0, 0%, 3%);

  --space-1: 1px;
  --space-2: 0.125rem;
  --space-3: 0.25rem;
  --space-4: 0.5rem;
  --space-5: 1rem;
  --space-6: 1.5rem;
  --space-7: 2.5rem;
  --space-default-gap: var(--space-5);

  font-family: var(--base-font-family);
}

/* --- Reset ---------------------------------------------------------------- */

html {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: var(--base-font-family);
  text-decoration-skip-ink: auto;
}

body {
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
  line-height: 1.2;
  margin: 0;
}

:disabled {
  color: var(--color-interactive-disabled-text);
  cursor: auto;
}

/* --- Element - Details ---------------------------------------------------- */

details > summary {
  cursor: pointer;
}

details > summary:focus {
  outline: none;
  text-decoration: underline;
}

/* --- Object - Headings ---------------------------------------------------- */

.o-heading-page {
  font-family: var(--heading-font-family);
  font-feature-settings: 'ss01';
  font-size: 5vw;
  font-weight: bold;
  padding-top: var(--space-default-gap);
  text-align: center;
}

.o-heading-section {
  font-family: var(--heading-font-family);
  font-size: 1.25rem;
  font-weight: bold;
  margin: var(--space-7) 0 var(--space-5) 0;
}

/* --- Component - Site ----------------------------------------------------- */

.c-site {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.c-site > header {
  flex: 0 0 auto;
}

.c-site > main {
  flex: 1 1 auto;
  overflow: auto;
}

.c-site > footer {
  flex: 0 0 auto;
  text-align: center;
}

/* --- Component - Env list ------------------------------------------------- */

.c-env-list {
  display: grid;
  grid-gap: var(--space-default-gap);
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  padding: var(--space-default-gap);
}

/* --- Component - Env  ----------------------------------------------------- */

.c-env {
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
}

.c-env > h2 {
  color: rgba(255, 255, 255, .75);
  font-size: 15vw;
  margin: 0;
  text-shadow: 0 0 0.25rem #000;
}

.c-env > details {
  bottom: 0;
  padding: 0 var(--space-default-gap) 0 var(--space-default-gap);
  position: absolute;
  width: 100%;
}

.c-env > details > summary {
  padding: var(--space-default-gap);
  margin: 0 calc(-1 * var(--space-default-gap));
}

.c-env > details[open] {
  background-color: rgba(255, 255, 255, .75);
  padding-bottom: var(--space-default-gap);
}

.c-env--failed {
  background-color: goldenrod;

}
.c-env--succeeded {
  background-color: mediumseagreen;
}

.c-env--pipeline-failed {
  background-color: indianred
}

.c-env--running::after,
.c-env--running::before {
  background: #000;
  content: '';
  height: 5vw;
  opacity: .5;
  position: absolute;
  right: calc(2.5vw + 1rem);
  top: 1rem;
  width: 1vw;
}

.c-env--running::after {
  animation: spinner-a 1s ease infinite;
  transform: rotate(90deg);
}

.c-env--running::before {
  animation: spinner-b 1s ease infinite;
}

@keyframes spinner-a {
  to {transform: rotate(450deg);}
}

@keyframes spinner-b {
  to {transform: rotate(360deg);}
}

